<% provide title: t("_categories") %>
<h1><% t "_categories" %></h1>
<%= link_to t("_new_category"), new_admin_category_path, {class: "btn btn-primary"} %>
<ul class="categories">
  <%= render @categories %>
</ul>
